<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Form</title>
        <script src="https://unpkg.com/feather-icons"></script>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        
        <h1>Form</h1>
        <div class="detail">
            <form action="ContentForm" method="post">
                <label>Question</label><br>
                <input type="text" placeholder="Enter Question" name="Question" required><br>
                <label>Option1</label><br>
                <input type="text" placeholder="Enter Option1" name="Option1" required><br>
                <label>Option2</label><br>
                <input type="text" placeholder="Enter Option2" name="Option2" required><br>
                <label>Option3</label><br>
                <input type="text" placeholder="Enter Option3" name="Option3" required><br>
                <label>Option4</label><br>
                <input type="text" placeholder="Enter Option4" name="Option4" required><br>
                <label>Correct Option</label><br>
                <input type="text" placeholder="Enter Correct Option" name="Correct_Option" required><br>
                <label>Marks</label><br>
                <input type="number" placeholder="Enter Marks" name="Marks" required><br>
                <label>Quiz Id</label><br>
                <input type="number" value="<%=data.quiz_id%>" name="quiz_id" required><br>
                <button type="submit" class="btn">Submit</button>
            </form>
        </div>
          <script>
            feather.replace()
          </script>
        <script src="" async defer></script>
    </body>
</html>